{% extends 'base.html' %}

{% block title %}Contact{% endblock %}


{% block content %}
<section class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <p class="fs-2">Contact Form</p>
        <form action="/contact" method="post" class="p-4 border rounded shadow bg-light">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Send Message</button>
        </form>

    </div>
    <div class="col-md-3"></div>
</section>
{% endblock %}
